<section id="blog" class="blog">
    <div class="container_manual">

        <div class="row" style="--bs-gutter-x: 0px!important;">

            <div class="col-lg-9 entries">

                <article class="entry">
                    <div class="entry-img">
                        <img src="assets/Images/blog-1.jpg" alt="" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        Product Safety Culture (PSCI)
                    </h2>
                    <p>
                        The CTU promotes the gaining of a safety culture among the whole medicine development enterprise
                        in
                        order to address the issues line on-going recalls of the products which are approved;
                        post-marketing
                        Risk Evaluation and Mitigation (REMs) requirement; the loss of public trust in the safety of
                        biomedical products and the higher costs of safety settlement and litigation. The need for an
                        entity
                        which is independent is to investigate the incidents of safety and the systemic safety concerns.
                    </p>
                    <p>
                        The PSCI members Steering Committee have already published the Safety Culture principles in the
                        peer-reviewed journals. In the clinical research where there is the huge amount of the ‘safety
                        evidence’ from the science of organization, it has not been systematically implemented which
                        results
                        in the bad error in management, risk aversion and unsafe practices. The PCSI intended to explore
                        the
                        application of the safety engineering technique in designing the safe systems for clinical
                        research.
                    </p>
                    <h5 class="entry-title">
                        First-in-human Trials
                    </h5>
                    <p>
                        The difficult step in the development of the novel therapeutics is the movement from the
                        preclinical
                        laboratory and the studies of animals into the testing of humans. The one project which is under
                        development is a well defined system for the research of first-in-man. The general roadmap for
                        the
                        early evaluation and development of the new potential medicines might be leading to enhancing
                        the
                        information sharing and the benchmarking of the systems which are safety-focused. These
                        approaches
                        will be identifying the gaps between the systems which results from the lack of constraints and
                        controls, which might have imposed the operations and system design.
                    </p>



                </article>
            </div>
            <!-- ==============================side bar================================ -->
            <div class="col-lg-3">

                <div class="sidebar">

                    <div class="side_div_links">
                        <h3 class="sidebar-title">About Us</h3>
                        <div class="sidebar-item categories">
                            <ul>
                                <li>
                                    <div><i class="fa fa-caret-right"></i></div>
                                    <div><a href="Vision-and-Mission">Vision and Mission</a></div>
                                </li>
                                <hr />
                                <li>
                                    <div><i class="fa fa-caret-right"></i></div>
                                    <div><a href="Objective-and-Goals">Objective and Goals</a></div>
                                </li>
                                <hr />
                                <li>
                                    <div><i class="fa fa-caret-right"></i></div>
                                    <div><a href="Our-team">Our Team</a></div>
                                </li>
                                <hr />
                                <li>
                                    <div><i class="fa fa-caret-right"></i></div>
                                    <div><a href="NIH-CTU-Allience">NIHCTU Alliance</a></div>
                                </li>
                                <hr />
                                <li>
                                    <div><i class="fa fa-caret-right"></i></div>
                                    <div><a href="Initiatives">Initiatives</a></div>
                                </li>
                                <hr />
                                <li>
                                    <div><i class="fa fa-caret-right"></i></div>
                                    <div><a href="Site-Acrediation">Site Accreditation & Standards Initiative (SASI)</a>
                                    </div>
                                </li>
                                <hr />
                            </ul>
                        </div>
                    </div>

                    <!-- @*End sidebar categories*@ -->


                    <div class="bg_yellow">
                        <h3 class="sidebar-title">Why Register Your Research Site?</h3>
                        <p>
                            A rapidly growing number of like-minded organizations, companies and individuals from across
                            the clinical research enterprise and from
                            around the world are working together to build this shared global system, recognizing the
                            power of a shared vision and collaboration.
                        </p>
                        <ul>
                            <li>
                                <div><i class="fa fa-caret-right"></i></div>
                                <div> Help shape the future of the clinical research enterprise</div>
                            </li>

                            <li>
                                <div><i class="fa fa-caret-right"></i></div>
                                <div> Drive innovation, standardization and simplification</div>
                            </li>

                            <li>
                                <div><i class="fa fa-caret-right"></i></div>
                                <div> Drive innovation, standardization and simplification</div>
                            </li>

                            <li>
                                <div><i class="fa fa-caret-right"></i></div>
                                <div> Increase the visibility and accessibility of your products and services globally
                                </div>
                            </li>

                        </ul>
                        <div class="buton_Link_Forms text-center">
                            <a href="register-your-site-form">Register Your Site</a>
                        </div>
                    </div>

                    <div class="Allies_div">
                        <h3 class="sidebar-title">Current Allies Include:</h3>
                        <ul>
                            <li>
                                <div><i class="fa fa-caret-right"></i></div>
                                <div><a href="GERI">Global Ethical and Regulatory Innovation (GERI)</a></div>
                            </li>
                            <li>
                                <div><i class="fa fa-caret-right"></i></div>
                                <div><a href="PSCI">Product Safety Culture Initiative (PSCI)</a></div>
                            </li>
                            <li>
                                <div><i class="fa fa-caret-right"></i></div>
                                <div><a href="QASI">Quality Assurance and Safety Initiative (QASI)</a></div>
                            </li>
                            <li>
                                <div><i class="fa fa-caret-right"></i></div>
                                <div><a href="Site-Acrediation">Site Accreditation and Standards Initiative (SASI)</a>
                                </div>
                            </li>
                            <li>
                                <div><i class="fa fa-caret-right"></i></div>
                                <div><a href="SOQI">Site Optics and Quality Initiative (SOQI)</a></div>
                            </li>
                            <li>
                                <div><i class="fa fa-caret-right"></i></div>
                                <div><a href="GlobalChange">The Global Challenge</a></div>
                            </li>
                        </ul>
                        <div class="buton_Link_Forms text-center">
                            <a href="get-involved-form">Get Involved</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>