<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<body>
    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
        </section>
        <!-- End Breadcrumbs -->
        <!-- ======= Blog Section ======= -->
        <section id="blog" class="blog">
            <div class="container_manual">

                <div class="row" style="--bs-gutter-x: 0px!important;">

                    <div class="col-lg-9 entries">

                        <article class="entry">

                            <div class="entry-img">
                                <img src="assets/Images/govt_regulatory.JPG" alt="" class="img-fluid">
                            </div>

                            <h2 class="entry-title mt-3">
                                Government and Regulatory Agencies
                            </h2>

                            <div class="entry-content">
                                <div class="entry_section_styling">
                                    <p>
                                        The Government and Regulatory agencies benefits us vividly with the implementation of the standards and systems which addresses the running issues and improve the compliance and guilty with more efficient leverage which are established from the information
                                        technologies which will:
                                    </p>
                                    <ul>
                                        <li>
                                            <div><i class="fa fa-caret-right"></i></div>
                                            <div>Facilitating with the implementation of the remote and risk-based auditing and monitoring the process to improve the oversight to be effective with no number of additional resources</div>
                                        </li>
                                        <li>
                                            <div><i class="fa fa-caret-right"></i></div>
                                            <div>Assuring the improved quality, compliance, performance, competitiveness and the productivity of the investigational sites of the country</div>
                                        </li>
                                        <li>
                                            <div><i class="fa fa-caret-right"></i></div>
                                            <div>Support and drive the regulatory simplification and innovation which results in the reduces regulatory burden and lower cost</div>
                                        </li>
                                        <li>
                                            <div><i class="fa fa-caret-right"></i></div>
                                            <div>Improving the sustainable economic activities and development which supports the innovation and productivity</div>
                                        </li>
                                        <li>
                                            <div><i class="fa fa-caret-right"></i></div>
                                            <div>Meeting with the mandates of social responsibility, advocated or legislated to the industry and public</div>
                                        </li>
                                        <li>
                                            <div><i class="fa fa-caret-right"></i></div>
                                            <div>Creating more globally interconnected and more effective national research enterprise and infrastructure which addresses the needs of health and it potentially reduces the costs which are health related</div>
                                        </li>

                                    </ul>
                                </div>
                            </div>

                        </article>
                        <!-- End blog entry -->




                    </div>
                    <!-- End blog entries list -->
                    <div class="col-lg-3">

                        <div class="sidebar">

                            <div class="side_div_links">
                                <h3 class="sidebar-title">Stakeholders</h3>
                                <div class="sidebar-item categories">
                                    <ul>
                                        <li>
                                            <div><i class="fa fa-caret-right"></i></div>
                                            <div><a routerLink="/CROCMOs">CRO/SMOS</a></div>
                                        </li>
                                        <hr />
                                        <li>
                                            <div><i class="fa fa-caret-right"></i></div>
                                            <div><a href="EthicsCommitte">Ethics Committee</a></div>
                                        </li>
                                        <hr />
                                        <li>
                                            <div><i class="fa fa-caret-right"></i></div>
                                            <div><a href="Government-and-Regulatory-Agencies">Government and Regulatory Agencies</a></div>
                                        </li>
                                        <hr />
                                        <li>
                                            <div><i class="fa fa-caret-right"></i></div>
                                            <div><a href="investors-including-tax-pyaers">Investors including Taxpayers</a></div>
                                        </li>
                                        <hr />
                                        <li>
                                            <div><i class="fa fa-caret-right"></i></div>
                                            <div><a href="peopleand-patients">People and Patients</a></div>
                                        </li>
                                        <hr />
                                        <li>
                                            <div><i class="fa fa-caret-right"></i></div>
                                            <div><a href="research-sites-investigators">Research sites and Investigators</a></div>
                                        </li>
                                        <hr />
                                        <li>
                                            <div><i class="fa fa-caret-right"></i></div>
                                            <div><a href="service-providers">Service Providers</a></div>
                                        </li>
                                        <hr />
                                        <li>
                                            <div><i class="fa fa-caret-right"></i></div>
                                            <div><a href="Sponsers">Sponsors</a></div>
                                        </li>
                                        <hr />
                                    </ul>
                                </div>
                            </div>

                            <!-- End sidebar categories -->

                            <div class="bg_yellow">
                                <h3 class="sidebar-title">Why Register Your Research Site?</h3>
                                <p>
                                    A rapidly growing number of like-minded organizations, companies and individuals from across the clinical research enterprise and from around the world are working together to build this shared global system, recognizing the power of a shared vision and
                                    collaboration.
                                </p>
                                <ul>
                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div>
                                        <div> Help shape the future of the clinical research enterprise</div>
                                    </li>

                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div>
                                        <div> Drive innovation, standardization and simplification</div>
                                    </li>

                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div>
                                        <div> Drive innovation, standardization and simplification</div>
                                    </li>

                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div>
                                        <div> Increase the visibility and accessibility of your products and services globally</div>
                                    </li>

                                </ul>
                                <div class="All_Buttons">
                                    <button type="submit" (click)="registerYourSite()">Register Your Site</button>
                                </div>
                            </div>

                            <div class="Allies_div">
                                <h3 class="sidebar-title">Current Allies Include:</h3>
                                <ul>
                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div>
                                        <div><a href="GERI">Global Ethical and Regulatory Innovation (GERI)</a></div>
                                    </li>
                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div>
                                        <div><a href="PSCI">Product Safety Culture Initiative (PSCI)</a></div>
                                    </li>
                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div>
                                        <div><a href="QASI">Quality Assurance and Safety Initiative (QASI)</a></div>
                                    </li>
                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div>
                                        <div><a href="Site-Acrediation">Site Accreditation and Standards Initiative (SASI)</a></div>
                                    </li>
                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div>
                                        <div><a href="SOQI">Site Optics and Quality Initiative (SOQI)</a></div>
                                    </li>
                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div>
                                        <div><a href="GlobalChange">The Global Challenge</a></div>
                                    </li>
                                </ul>


                                <div class="All_Buttons">
                                    <button type="submit" (click)="getinvolved()">Get Involved</button>
                                </div>
                            </div>
                            <!-- End sidebar tags-->
                        </div>
                        <!-- End sidebar -->
                    </div>
                    <!-- End blog sidebar -->

                </div>

            </div>
        </section>
        <!-- End Blog Section -->

    </main>
    <!-- End #main -->

</body>