<section class="Get_Involved_Styling">

    <div class="container">
        <header class="section-header">
            <h2>Contact</h2>
            <p>Get Involved</p>
        </header>

        <div class="row gy-4">
            <div class="col-lg-12">
                <form action="forms/contact.php" method="post" class="php-email-form">
                    <div class="row gy-4">

                        <div class="col-md-6">
                            <input type="text" name="Name" id="Name" [(ngModel)]="PersonDetails.Name" class="form-control" placeholder="Name" required>
                        </div>

                        <div class="col-md-6 ">
                            <input type="Email" id="Email" [(ngModel)]="PersonDetails.Email" class="form-control" name="Email" placeholder="Your Email" required>
                        </div>

                        <!-- <div class="col-md-12">
                            <input type="text" id="subject" [(ngModel)]="PersonDetails.subject" class="form-control" name="subject" placeholder="Subject" required>
                        </div> -->

                        <div class="col-md-12">
                            <textarea class="form-control" id="Message" [(ngModel)]="PersonDetails.Message" name="Message" rows="6" placeholder="Message" required></textarea>
                        </div>

                        <div class="col-md-12 text-center btn_Styling">
                            <!-- <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div> -->

                            <button type="submit">Send Message</button>
                        </div>

                    </div>
                </form>

            </div>

        </div>

    </div>

</section>