<section id="blog" class="blog">
    <div class="container_manual">

        <div class="row" style="--bs-gutter-x: 0px!important;">

            <div class="col-lg-9 entries">

                <article class="entry">

                    <div class="entry-img">
                        <img src="\assets\Images\blog-1.jpg" alt="" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        NIH-CTU Alliance
                    </h2>

                    <div class="entry-content">
                        <div class="entry_section_styling">
                            <p>
                                It will be central hub for all other public/private organizations, multinational 
                                companies and individuals from across the clinical research enterprise to work together for clinical trials.                                
                            </p>
                            <h5 class="heading5">
                                Current Allies Include:
                            </h5>
                            <div>
                                <img src="assets/Images/NIHCTUAllience.JPG" class="img-fluid" />
                            </div>
                            

                            <div class="container uni_div_images">
                                <div class=" heading5">
                                    <h5>These universities are working with us</h5>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 text-center">
                                        <a href="https://www.iccs.edu/">
                                            <img class="img-responsive" src="assets/Images/ICCBS.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <a href="http://www.nibge.org/"><img class="img-responsive" src="assets/Images/NIBS.jpg" alt=""></a>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <a href="https://nust.edu.pk/"> <img class="img-responsive" src="assets/Images/NUST.jpg" alt=""></a>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <a href="https://cemb.edu.pk/"><img class="img-responsive" src="assets/Images/CEMB.jpg" alt=""></a>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <a href="https://uhs.edu.pk/"><img class="img-responsive" src="assets/Images/UHS2.jpg" alt=""></a>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <a href="https://duhs.edu.pk/"><img class="img-responsive" src="assets/Images/DUHS.jpg" alt=""></a>
                                    </div>
                                </div>
                                <div class=" heading5">
                                    <h5>These Industries are working with us</h5>
                                </div>

                                <div class="row">
                                    <!-- <div class="col-md-3 text-center">
                                        <a href="https://ferozsons-labs.com/">
                                            <img class="img-responsive" src="assets/Images/Ferozson_new.jpg" alt="">
                                        </a>
                                    </div> -->
                                    <div class="col-md-4 text-center">
                                        <a href="https://qne.com.pk/collections/searle-pharma"><img class="img-responsive" src="assets/Images/Searle_newOfc.jpg" alt=""></a>
                                    </div>
                                    <!-- <div class="col-md-3 text-center">
                                        <a href="https://getzpharma.com/"> <img class="img-responsive" src="assets/Images/Getz-Pha_KHI.jpg" alt=""></a>
                                    </div> -->
                                    <!-- <div class="col-md-3 text-center">
                                        <a href="https://qne.com.pk/collections/searle-pharma"><img class="img-responsive" src="assets/Images/Searle_KHI.jpg" alt=""></a>
                                    </div> -->
                                    <!-- <div class="col-md-3 text-center">
                                        <a href="http://www.samipharmapk.com/"><img class="img-responsive" src="assets/Images/Sami_ofc_2.jpg" alt=""></a>
                                    </div> -->
                                    <div class="col-md-4 text-center">
                                        <a href="https://aligohar.com/"><img class="img-responsive" src="assets/Images/AliGHar_pharma.jpg" alt=""></a>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <a href="https://getzpharma.com/"><img class="img-responsive" src="assets/Images/Getz New.jpg" alt=""></a>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <a href="https://ferozsons-labs.com/"><img class="img-responsive" src="assets/Images/Ferozson_Ind.jpg" alt=""></a>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <a href="http://amson.org.pk/"><img class="img-responsive" src="assets/Images/Amson_lab_Main.jpg" alt=""></a>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <a href="http://www.samipharmapk.com/"><img class="img-responsive" src="assets/Images/SAMI_pharma_ofc.png" alt=""></a>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <a href="https://www.ajmpharma.com/"><img class="img-responsive" src="assets/Images/AGM_Pharma.jpg" alt=""></a>
                                    </div>
                                </div>
                                
                            </div>
                            
                            
                        </div>
                    </div>
                </article>
                
            </div>
            <!-- ==============================side bar================================ -->
            <div class="col-lg-3">

                <div class="sidebar">

                    <div class="side_div_links">
                        <h3 class="sidebar-title">About Us</h3>
                        <div class="sidebar-item categories">
                            <ul>
                                <li>
                                    <div><i class="fa fa-caret-right"></i></div>
                                    <div><a href="Vision-and-Mission">Vision and Mission</a></div>
                                </li>
                                <hr />
                                <li>
                                    <div><i class="fa fa-caret-right"></i></div>
                                    <div><a href="Objective-and-Goals">Objective and Goals</a></div>
                                </li>
                                <hr />
                                <li>
                                    <div><i class="fa fa-caret-right"></i></div>
                                    <div><a href="Our-team">Our Team</a></div>
                                </li>
                                <hr />
                                <li>
                                    <div><i class="fa fa-caret-right"></i></div>
                                    <div><a href="NIH-CTU-Allience">NIHCTU Alliance</a></div>
                                </li>
                                <hr />
                                <li>
                                    <div><i class="fa fa-caret-right"></i></div>
                                    <div><a href="Initiatives">Initiatives</a></div>
                                </li>
                                <hr />
                                <li>
                                    <div><i class="fa fa-caret-right"></i></div>
                                    <div><a href="Site-Acrediation">Site Accreditation & Standards Initiative (SASI)</a>
                                    </div>
                                </li>
                                <hr />
                            </ul>
                        </div>
                    </div>

                    <!-- @*End sidebar categories*@ -->
                    

                    <div class="bg_yellow">
                        <h3 class="sidebar-title">Why Register Your Research Site?</h3>
                        <p>
                            A rapidly growing number of like-minded organizations, companies and individuals from across
                            the clinical research enterprise and from
                            around the world are working together to build this shared global system, recognizing the
                            power of a shared vision and collaboration.
                        </p>
                        <ul>
                            <li>
                                <div><i class="fa fa-caret-right"></i></div>
                                <div> Help shape the future of the clinical research enterprise</div>
                            </li>

                            <li>
                                <div><i class="fa fa-caret-right"></i></div>
                                <div> Drive innovation, standardization and simplification</div>
                            </li>

                            <li>
                                <div><i class="fa fa-caret-right"></i></div>
                                <div> Drive innovation, standardization and simplification</div>
                            </li>

                            <li>
                                <div><i class="fa fa-caret-right"></i></div>
                                <div> Increase the visibility and accessibility of your products and services globally
                                </div>
                            </li>

                        </ul>
                        <div class="buton_Link_Forms text-center">
                            <a href="/register-your-site-form">Register Your Site</a>
                        </div>
                    </div>

                    <div class="Allies_div">
                        <h3 class="sidebar-title">Current Allies Include:</h3>
                        <ul>
                            <li>
                                <div><i class="fa fa-caret-right"></i></div>
                                <div><a href="GERI">Global Ethical and Regulatory Innovation (GERI)</a></div>
                            </li>
                            <li>
                                <div><i class="fa fa-caret-right"></i></div>
                                <div><a href="PSCI">Product Safety Culture Initiative (PSCI)</a></div>
                            </li>
                            <li>
                                <div><i class="fa fa-caret-right"></i></div>
                                <div><a href="QASI">Quality Assurance and Safety Initiative (QASI)</a></div>
                            </li>
                            <li>
                                <div><i class="fa fa-caret-right"></i></div>
                                <div><a href="Site-Acrediation">Site Accreditation and Standards Initiative (SASI)</a></div>
                            </li>
                            <li>
                                <div><i class="fa fa-caret-right"></i></div>
                                <div><a href="SOQI">Site Optics and Quality Initiative (SOQI)</a></div>
                            </li>
                            <li>
                                <div><i class="fa fa-caret-right"></i></div>
                                <div><a href="GlobalChange">The Global Challenge</a></div>
                            </li>
                        </ul>
                        <div class="buton_Link_Forms text-center">
                            <a href="get-involved-form">Get Involved</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>