<nav class="navbar navbar-expand-lg navbar-light bg-light navbarStyle">
  <div class="container navbarLogo">
    <a class="navbar-brand" href="Index"><img src="assets/Images/Final_logo.png" alt="" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 navList">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="Index">Home</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Stakeholders
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="CROCMOs">CRO/SMOS</a></li>
            <li><a class="dropdown-item" routerLink="EthicsCommitte">Ethics Committee</a></li>
            <li><a class="dropdown-item" routerLink="Government-and-Regulatory-Agencies">Government and Regulatory Agencies</a></li>
            <li><a class="dropdown-item" routerLink="investors-including-tax-pyaers">Investors including Taxpayers</a></li>
            <li><a class="dropdown-item" routerLink="peopleand-patients">People and Patients</a></li>
            <li><a class="dropdown-item" routerLink="research-sites-investigators">Research sites and Investigators</a></li>
            <li><a class="dropdown-item" routerLink="service-providers">Service Providers</a></li>
            <li><a class="dropdown-item" routerLink="Sponsers">Sponsors</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            About Us
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="Vision-and-Mission">Vision and Mission</a></li>
            <li><a class="dropdown-item" routerLink="Objective-and-Goals">Objective and Goals</a></li>
            <li><a class="dropdown-item" routerLink="Our-team">Our Team</a></li>
            <li><a class="dropdown-item" routerLink="NIH-CTU-Allience">NIHCTU Alliance</a></li>
            <li><a class="dropdown-item" routerLink="Initiatives">Initiatives</a></li>
            <li><a class="dropdown-item" routerLink="Site-Acrediation">Site Accreditation & Standards Initiative (SASI)</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Knowledge
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="CurrentProjects">Current Projects</a></li>
            <li><a class="dropdown-item" routerLink="Publications">Publications</a></li>
            <li><a class="dropdown-item" routerLink="Articles">Articles</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Press
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="articles-about-ctu">Articles about CTU</a></li>
            <li><a class="dropdown-item" routerLink="interviews">Interviews</a></li>
            <li><a class="dropdown-item" routerLink="press-releases">Press Releases</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Events
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="ClinicalTrials">Clinical Trials</a></li>
            <li><a class="dropdown-item" routerLink="Allies">Allies</a></li>
          </ul>
        </li>
        
      </ul>
    </div>
  </div>
</nav>




<div>
  <router-outlet></router-outlet>
</div>


<!-- ======= Footer Section ======= -->
<footer class="footer_styling">
  <hr>
  <p><span>Clinical Research Excellence and Safety</span> / +92 (51) 9255090-2, +92 (51) 9255112-4 / Clinical Trials
    Unit, National Institute of Health, Chak Shahzad, Islamabad, Pakistan</p>
  <ul>
    <li><a href="Index">HOME</a><a href="KnowledgePage">KNOWLEDGE CENTER </a><a href="AboutUs">ABOUT US</a><a href="TermsandCondition">TERMS &
        CONDITIONS</a><a href="PrivacyPolicy">PRIVACY POLICY</a><a href="ContactUs">CONTACT US </a></li>

  </ul>
  <p>© Copyright 2021, Clinical Trial Unit(CTU) - National Institute of Health. All rights reserved.</p>
</footer>
<!-- ======= Footer ======= -->