<!-- ======= Header ======= -->
<header id="header" class="header fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a routerLink="Index" class="logo d-flex align-items-center">
      <img src="assets/Images/ctu-logo.png" alt="" />
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li class="dropdown">
          <a class="nav-link" href="#"><span>Stakeholders</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a routerLink="/CROCMOs">CRO/SMOS</a></li>
            <li><a href="EthicsCommitte">Ethics Committee</a></li>
            <li><a href="Government-and-Regulatory-Agencies">Government and Regulatory Agencies</a></li>
            <li><a href="investors-including-tax-pyaers">Investors including Taxpayers</a></li>
            <li><a href="peopleand-patients">People and Patients</a></li>
            <li><a href="research-sites-investigators">Research sites and Investigators</a></li>
            <li><a href="service-providers">Service Providers</a></li>
            <li><a href="Sponsers">Sponsors</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="nav-link" href="#"><span>About Us</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="Vision-and-Mission">Vision and Mission</a></li>
            <li><a href="Objective-and-Goals">Objective and Goals</a></li>
            <li><a href="Our-team">Our Team</a></li>
            <li><a href="NIH-CTU-Allience">NIHCTU Alliance</a></li>
            <li><a href="Initiatives">Initiatives</a></li>
            <li><a href="Site-Acrediation">Site Accreditation & Standards Initiative (SASI)</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="nav-link" href="#"><span>Knowledge</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="CurrentProjects">Current Projects</a></li>
            <li><a href="Publications">Publications</a></li>
            <li><a href="Articles">Articles</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="nav-link" href="#"><span>Press</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="articles-about-ctu">Articles about CTU</a></li>
            <li><a href="interviews">Interviews</a></li>
            <li><a href="press-releases">Press Releases</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="nav-link" href="#"><span>Events</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="ClinicalTrials">Clinical Trials</a></li>
            <li><a href="Allies">Allies</a></li>
            <!-- <li><a href="#">Universities</a></li> -->
            <!-- <li><a href="#">Industries</a></li> -->
          </ul>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
  </div>
</header>
<!-- End Header -->
<router-outlet></router-outlet>

<!-- ======= Footer Section ======= -->
<footer class="footer_styling">
  <hr>
  <p><span>Clinical Research Excellence and Safety</span> / +92 (51) 9255090-2, +92 (51) 9255112-4 / Clinical Trials
    Unit, National Institute of Health, Chak Shahzad, Islamabad, Pakistan</p>
  <ul>
    <li><a href="#">HOME</a><a href="#">KNOWLEDGE CENTER </a><a href="#">ABOUT US</a><a href="#">TERMS &
        CONDITIONS</a><a href="#">PRIVACY POLICY</a><a href="#">CONTACT US </a></li>

  </ul>
  <p>© Copyright 2021, Clinical Trial Unit(CTU) - National Institute of Health. All rights reserved.</p>
</footer>
<!-- ======= Footer ======= -->