/*....................Navbar.....................//*/
.navbarStyle{
    background-color: white!important;
    margin-bottom: 15px;
}
.navbarLogo img{
    width: 190px;
}
.navList li {
    margin-right: 10px;
}
.navList li a{
    font-weight: 700;
    color: #4153f2;
    font-size: 18px;
}
/*....................footer.....................//*/
.footer_styling {
    text-align: center;
    margin-top: 30px;
    top: auto;
}
    .footer_styling p{
        color: #4153f2;
        font-size: 15px;
    }
    .footer_styling span {
        font-weight:600; 
        font-size:15px;
    }

    .footer_styling ul {
        list-style: none;
        display: inline-flex;
    }

        .footer_styling ul li {
            display: inline;
        }

            .footer_styling ul li a {
                padding-right: 15px;
                color: green;
                font-size: 16px;
            }
