<!-- ==================allies slider======================= -->
<div class="container Heading_styling">
    <h3>NIH - CTU Allies</h3>
</div>
<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)"
    (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
        <img src="{{ slide.img }}" alt="" width="100%">
    </div>
</ngx-slick-carousel>

<!-- @*======= University Section =======*@ -->
<div class="container">
    <div class=" Heading_">
        <h3>These universities are working with us</h3>
    </div>
    <div class="row Allies_Uni_Images">
        <div class="col-md-3">
            <div class="hovereffect">
                <img class="img-responsive" src="assets/Images/ICCBS.jpg" alt="">
                <div class="overlay">
                    <h2>International Center for Chemical and Biological Sciences</h2>
                    <a class="info" href="https://www.iccs.edu/">ICCBS</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="hovereffect">
                <img class="img-responsive" src="assets/Images/NIBS.jpg" alt="">
                <div class="overlay">
                    <h2>National Institute of Biotechnology and Genetic Engineering</h2>
                    <a class="info" href="http://www.nibge.org/">NIBS</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="hovereffect">
                <img class="img-responsive" src="assets/Images/NUST.jpg" alt="">
                <div class="overlay">
                    <h2>National University of Sciences and Technology</h2>
                    <a class="info" href="https://nust.edu.pk/">NUST</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="hovereffect">
                <img class="img-responsive" src="assets/Images/CEMB.jpg" alt="">
                <div class="overlay">
                    <h2>Center for Excellence in Molecular Biology</h2>
                    <a class="info" href="https://cemb.edu.pk/">CEMB</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="hovereffect">
                <img class="img-responsive" src="assets/Images/UHS2.jpg" alt="">
                <div class="overlay">
                    <h2>University of Health Sciences</h2>
                    <a class="info" href="https://uhs.edu.pk/">UHS</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="hovereffect">
                <img class="img-responsive" src="assets/Images/DUHS.jpg" alt="">
                <div class="overlay">
                    <h2>Dow University of Health Sciences</h2>
                    <a class="info" href="https://duhs.edu.pk/">DOW</a>
                </div>
            </div>
        </div>
    </div>

    <!-- @*======= Industries Section =======*@ -->
<div class="container">
    <div class=" Heading_">
        <h3>These Industries are working with us</h3>
    </div>
    <div class="row Allies_Ind_Images">
        <div class="col-md-3">
            <div class="hovereffect">
                <img class="img-responsive" src="assets/Images/Ferozson_new.jpg" alt="">
                <div class="overlay">
                    <h2>Ferozsons</h2>
                    <a class="info" href="https://ferozsons-labs.com/">Ferozsons</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="hovereffect">
                <img class="img-responsive" src="assets/Images/Searle_newOfc.jpg" alt="">
                <div class="overlay">
                    <h2>Searle</h2>
                    <a class="info" href="https://qne.com.pk/collections/searle-pharma">Searle</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="hovereffect">
                <img class="img-responsive" src="assets/Images/Getz-Pha_KHI.jpg" alt="">
                <div class="overlay">
                    <h2>GETZ</h2>
                    <a class="info" href="https://getzpharma.com/">GETZ</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="hovereffect">
                <img class="img-responsive" src="assets/Images/Searle_KHI.jpg" alt="">
                <div class="overlay">
                    <h2>Searle Karachi</h2>
                    <a class="info" href="https://qne.com.pk/collections/searle-pharma">Searle</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="hovereffect">
                <img class="img-responsive" src="assets/Images/Sami_ofc_2.jpg" alt="">
                <div class="overlay">
                    <h2>Sami Pharma Karachi</h2>
                    <a class="info" href="http://www.samipharmapk.com/">Sami</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="hovereffect">
                <img class="img-responsive" src="assets/Images/AliGHar_pharma.jpg" alt="">
                <div class="overlay">
                    <h2>Ali Gohar Pharma Karachi</h2>
                    <a class="info" href="https://aligohar.com/">Ali Gohar</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="hovereffect">
                <img class="img-responsive" src="assets/Images/Getz New.jpg" alt="">
                <div class="overlay">
                    <h2>Getz Pharma Islamabad</h2>
                    <a class="info" href="https://getzpharma.com/">Getz</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="hovereffect">
                <img class="img-responsive" src="assets/Images/Ferozson_Ind.jpg" alt="">
                <div class="overlay">
                    <h2>Ferozsons Pharma Islamabad</h2>
                    <a class="info" href="https://ferozsons-labs.com/">Ferozsons</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="hovereffect">
                <img class="img-responsive" src="assets/Images/Amson_lab_Main.jpg" alt="">
                <div class="overlay">
                    <h2>Amson Pharma Islmabad</h2>
                    <a class="info" href="http://amson.org.pk/">Amson</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="hovereffect">
                <img class="img-responsive" src="assets/Images/SAMI_pharma_ofc.png" alt="">
                <div class="overlay">
                    <h2>Sami Pharma Islamabad</h2>
                    <a class="info" href="http://www.samipharmapk.com/">Sami</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="hovereffect">
                <img class="img-responsive" src="assets/Images/AGM_Pharma.jpg" alt="">
                <div class="overlay">
                    <h2>AGM Pharma Islamabad</h2>
                    <a class="info" href="https://www.ajmpharma.com/">AGM</a>
                </div>
            </div>
        </div>
    </div>