<main id="main">
    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container_manual">

            <div class="row" style="--bs-gutter-x: 0px!important;">

                <div class="col-lg-9 entries">

                    <article class="entry">

                        <div class="first_img" style="height: 350px;">
                            <img src="assets/Images/IMG_2625.jpg" alt="" width="100%" height="350px">
                        </div>

                        <h2 class="entry-title mt-3">
                            CRO/SMOs
                        </h2>

                        <div class="entry-content">
                            <div class="entry_section_styling">
                                <p>
                                    It is a shared system for the clinical research which facilitates most of the core process essential to SMOs and CROs alike:
                                </p>
                                <ul>
                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div>
                                        <div>Partnering with the clients to be financially innovative by piloting the alternative model on the research which is specific projects and programs.
                                        </div>
                                    </li>
                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div>
                                        <div> Reducing the process costs and key operations of conducting the trials for the similar benefits of CROs and clients</div>
                                    </li>
                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div>
                                        <div>Increased protection of liability which includes regulatory, malpractice and legal</div>
                                    </li>
                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div>
                                        <div>Reduces turnovers of sites by the enhancing of professionalism and sustainability
                                        </div>
                                    </li>
                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div>
                                        <div> Improvement of site monitoring and site qualification processes which includes strong informatics which are mapping abilities and facilities of the single sites, including the types of sites</div>
                                    </li>
                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div>
                                        <div> Providing demonstration to the primary clients with the commitment to decrease the speed to market</div>
                                    </li>
                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div>
                                        <div>Re-establishing the public trust and credibility with addressing regulatory, safety, performance and operational challenges, and while meeting the obligations of Corporate Social Responsibility</div>
                                    </li>

                                </ul>
                            </div>
                        </div>

                    </article>
                    <!-- End blog entry -->




                </div>
                <!-- End blog entries list -->
                <div class="col-lg-3">

                    <div class="sidebar">

                        <div class="side_div_links">
                            <h3 class="sidebar-title">Stakeholders</h3>
                            <div class="sidebar-item categories">
                                <ul>
                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div>
                                        <div><a routerLink="/CROCMOs">CRO/SMOS</a></div>
                                    </li>
                                    <hr />
                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div>
                                        <div><a href="EthicsCommitte">Ethics Committee</a></div>
                                    </li>
                                    <hr />
                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div>
                                        <div><a href="Government-and-Regulatory-Agencies">Government and Regulatory
                                                Agencies</a></div>
                                    </li>
                                    <hr />
                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div>
                                        <div><a href="investors-including-tax-pyaers">Investors including Taxpayers</a>
                                        </div>
                                    </li>
                                    <hr />
                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div>
                                        <div><a href="peopleand-patients">People and Patients</a></div>
                                    </li>
                                    <hr />
                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div>
                                        <div><a href="research-sites-investigators">Research sites and Investigators</a>
                                        </div>
                                    </li>
                                    <hr />
                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div>
                                        <div><a href="service-providers">Service Providers</a></div>
                                    </li>
                                    <hr />
                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div>
                                        <div><a href="Sponsers">Sponsors</a></div>
                                    </li>
                                    <hr />
                                </ul>
                            </div>
                        </div>

                        <!-- End sidebar categories -->

                        <div class="bg_yellow">
                            <h3 class="sidebar-title">Why Register Your Research Site?</h3>
                            <p>
                                A rapidly growing number of like-minded organizations, companies and individuals from across the clinical research enterprise and from around the world are working together to build this shared global system, recognizing the power of a shared vision and
                                collaboration.
                            </p>
                            <ul>
                                <li>
                                    <div><i class="fa fa-caret-right"></i></div>
                                    <div> Help shape the future of the clinical research enterprise</div>
                                </li>

                                <li>
                                    <div><i class="fa fa-caret-right"></i></div>
                                    <div> Drive innovation, standardization and simplification</div>
                                </li>

                                <li>
                                    <div><i class="fa fa-caret-right"></i></div>
                                    <div> Drive innovation, standardization and simplification</div>
                                </li>

                                <li>
                                    <div><i class="fa fa-caret-right"></i></div>
                                    <div> Increase the visibility and accessibility of your products and services globally
                                    </div>
                                </li>

                            </ul>
                            <div class="All_Buttons">
                                <button type="submit" (click)="registerYourSite()">Register Your Site</button>
                            </div>
                            <!-- <div class="buton_Link_Forms text-center">
                                <a href="https://n8dchycsbzy.typeform.com/to/SgaWNL9P" target="_blank">Register Your Site</a>
                            </div> -->
                        </div>

                        <div class="Allies_div">
                            <h3 class="sidebar-title">Current Allies Include:</h3>
                            <ul>
                                <li>
                                    <div><i class="fa fa-caret-right"></i></div>
                                    <div><a href="GERI">Global Ethical and Regulatory Innovation (GERI)</a></div>
                                </li>
                                <li>
                                    <div><i class="fa fa-caret-right"></i></div>
                                    <div><a href="PSCI">Product Safety Culture Initiative (PSCI)</a></div>
                                </li>
                                <li>
                                    <div><i class="fa fa-caret-right"></i></div>
                                    <div><a href="QASI">Quality Assurance and Safety Initiative (QASI)</a></div>
                                </li>
                                <li>
                                    <div><i class="fa fa-caret-right"></i></div>
                                    <div><a href="Site-Acrediation">Site Accreditation and Standards Initiative
                                            (SASI)</a></div>
                                </li>
                                <li>
                                    <div><i class="fa fa-caret-right"></i></div>
                                    <div><a href="SOQI">Site Optics and Quality Initiative (SOQI)</a></div>
                                </li>
                                <li>
                                    <div><i class="fa fa-caret-right"></i></div>
                                    <div><a href="GlobalChange">The Global Challenge</a></div>
                                </li>
                            </ul>
                            <div class="All_Buttons">
                                <button type="submit" (click)="getinvolved()">Get Involved</button>
                            </div>
                            <!-- <div class="buton_Link_Forms text-center">
                                
                                <a href="https://n8dchycsbzy.typeform.com/to/JweGrnr9" target="_blank">Get Involved</a>
                            </div> -->
                        </div>
                        <!-- End sidebar tags-->
                    </div>
                    <!-- End sidebar -->
                </div>
                <!-- End blog sidebar -->

            </div>

        </div>
    </section>
    <!-- End Blog Section -->

</main>
<!-- End #main -->