
    <main id="main">
        <!-- ======= Blog Section ======= -->
        <section id="blog" class="blog">
            <div class="container_manual">

                <div class="row" style="--bs-gutter-x: 0px!important;">

                    <div class="col-lg-9 entries">

                        <article class="entry">

                            <div class="entry-img">
                                <img src="\assets\Images\blog-1.jpg" alt="" class="img-fluid">
                            </div>

                            <h2 class="entry-title">
                                CRO/SMOs
                            </h2>

                            <div class="entry-content">
                                <div class="entry_section_styling">
                                    <p>
                                        A shared global system for clinical research will facilitate many of the core processes intrinsic to CROs and SMOs alike:
                                    </p>
                                    <ul>
                                        <li>
                                            <div><i class="fa fa-caret-right"></i></div><div>Reducing key operations and process costs of conducting trials for mutual benefit of clients and CROs</div>
                                        </li>
                                        <li>
                                            <div><i class="fa fa-caret-right"></i></div><div>Partnering with clients to innovate, including financially, by piloting alternative models on specific research programs and projects</div>
                                        </li>
                                        <li>
                                            <div><i class="fa fa-caret-right"></i></div><div>Increasing liability protection (legal, regulatory, and malpractice)</div>
                                        </li>
                                        <li>
                                            <div><i class="fa fa-caret-right"></i></div><div>Improving “site qualification” and site monitoring processes, including more robust informatics; ‘mapping’ to facilities and abilities of individual sites, given range of types of sites</div>
                                        </li>
                                        <li>
                                            <div><i class="fa fa-caret-right"></i></div><div>Reducing turnover of sites, by enhancing sustainability and professionalism</div>
                                        </li>
                                        <li>
                                            <div><i class="fa fa-caret-right"></i></div><div>Identifying more rapidly ‘at risk’ sites and need for intervention – whether in the course of the trial or under regulatory scrutiny</div>
                                        </li>
                                        <li>
                                            <div><i class="fa fa-caret-right"></i></div><div>Expanding available, qualified sites, especially in developing and re-developing world, including developing and accessing sites for under-represented/under-utilized patients</div>
                                        </li>
                                        <li>
                                            <div><i class="fa fa-caret-right"></i></div><div>Demonstrating to primary clients commitment to reduce speed-to-market and increasing patent protection</div>
                                        </li>
                                        <li>
                                            <div><i class="fa fa-caret-right"></i></div><div>Re-establishing public credibility/trust, especially by: addressing safety, regulatory, operational and performance challenges; and meeting corporate social responsibility (CSR) obligations, legislated or advocated</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </article><!-- End blog entry -->




                    </div><!-- End blog entries list -->
                    <div class="col-lg-3">

                        <div class="sidebar">

                            <div class="side_div_links">
                                <h3 class="sidebar-title">Stakeholders</h3>
                                <div class="sidebar-item categories">
                                    <ul>
                                        <li> <div><i class="fa fa-caret-right"></i></div><div><a routerLink="/CROCMOs">CRO/SMOS</a></div></li><hr />
                                        <li> <div><i class="fa fa-caret-right"></i></div><div><a href="EthicsCommitte">Ethics Committee</a></div></li><hr />
                                        <li> <div><i class="fa fa-caret-right"></i></div><div><a href="Government-and-Regulatory-Agencies">Government and Regulatory Agencies</a></div></li><hr />
                                        <li> <div><i class="fa fa-caret-right"></i></div><div><a href="investors-including-tax-pyaers">Investors including Taxpayers</a></div></li><hr />
                                        <li> <div><i class="fa fa-caret-right"></i></div><div><a href="peopleand-patients">People and Patients</a></div></li><hr />
                                        <li> <div><i class="fa fa-caret-right"></i></div><div><a href="research-sites-investigators">Research sites and Investigators</a></div></li><hr />
                                        <li> <div><i class="fa fa-caret-right"></i></div><div><a href="service-providers">Service Providers</a></div></li><hr />
                                        <li> <div><i class="fa fa-caret-right"></i></div><div><a href="Sponsers">Sponsors</a></div></li><hr />
                                    </ul>
                                </div>
                            </div>
                            
                            <!-- End sidebar categories -->
                        <div class="side_div_p1">
                            <div class="back_img">
                                <h3 class="sidebar-title">The ACRES Alliance</h3>
                                <p>
                                    A rapidly growing number of like-minded organizations, companies and individuals from across the clinical research enterprise and from
                                    around the world are working together to build this shared global system, recognizing the power of a shared vision and collaboration.
                                </p>
                                <ul>
                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div><div> Help shape the future of the clinical research enterprise</div>
                                    </li>

                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div><div> Drive innovation, standardization and simplification</div>
                                    </li>

                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div><div> Drive innovation, standardization and simplification</div>
                                    </li>

                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div><div> Increase the visibility and accessibility of your products and services globally</div>
                                    </li>

                                </ul>
                            </div>
                            
                        </div>
                            <div class="bg_yellow">
                                <h3 class="sidebar-title">Why Register Your Research Site?</h3>
                                <p>
                                    A rapidly growing number of like-minded organizations, companies and individuals from across the clinical research enterprise and from
                                    around the world are working together to build this shared global system, recognizing the power of a shared vision and collaboration.
                                </p>
                                <ul>
                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div><div> Help shape the future of the clinical research enterprise</div>
                                    </li>

                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div><div> Drive innovation, standardization and simplification</div>
                                    </li>

                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div><div> Drive innovation, standardization and simplification</div>
                                    </li>

                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div><div> Increase the visibility and accessibility of your products and services globally</div>
                                    </li>
                                   
                                </ul>
                                <div class="buton_Link_Forms text-center">
                                    <a href="#">Register Your Site</a>
                                </div>
                            </div>

                            <div class="Allies_div">
                                <h3 class="sidebar-title">Current Allies Include:</h3>
                                <ul>
                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div><div><a href="#">Global Ethical and Regulatory Innovation (GERI)</a></div>
                                    </li>
                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div><div><a href="#">Product Safety Culture Initiative (PSCI)</a></div>
                                    </li>
                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div><div><a href="#">Quality Assurance and Safety Initiative (QASI)</a></div>
                                    </li>
                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div><div><a href="#">Site Accreditation and Standards Initiative (SASI)</a></div>
                                    </li>
                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div><div><a href="#">Site Optics and Quality Initiative (SOQI)</a></div>
                                    </li>
                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div><div><a href="#">The Global Challenge</a></div>
                                    </li>
                                </ul>
                                <div class="buton_Link_Forms text-center">
                                    <a href="#">Get Involved</a>
                                </div>
                            </div>
                            <!-- End sidebar tags-->
                        </div><!-- End sidebar -->
                    </div><!-- End blog sidebar -->

                </div>

            </div>
        </section><!-- End Blog Section -->

    </main><!-- End #main -->




