<!-- ==============Image Div============== -->
<div class="Index_1">
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-7 d-flex flex-column justify-content-center">
          <div class="blue_heading">
            <h1 data-aos="fade-up"></h1>
            <h2>NIHCTU will provide a versatile clinical research environment
              enabling the NIH mission to improve human health by:</h2>
            <p></p>
            <ul>
              <li>
                Bringing together diverse stake holders from across the clinical research enterprise
                and harness their expertise and investments to collaboratively build an open,
                integrated global research system
              </li>
              <li>
                Integrating information technologies and interoperable standards, policies and
                practices across the globe
              </li>
              <li>
                Enhancing drug development safety, quality and efficiency worldwide and industry
                wide to benefit all stake holders especially patients.
              </li>
            </ul>
          </div>
          <div>
            <div class="row" style="display:flex">
              <div class="col-md-6 text-center Main_butn">
                <a>
                  <!-- <a href="@Url.Action("RegisterYourSiteForm","Home")"> -->
                  <span>Register Your Site</span>
                  <i class="bi bi-arrow-right"></i>
                </a>

              </div>
              <div class="col-md-6 Main_butn text-center">
                <a>
                  <!-- <a href="@Url.Action("GetInvolvedForm","Home")" > -->
                  <span>Get Involved</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
              &nbsp;&nbsp;

            </div>
          </div>
          <div data-aos="fade-up" data-aos-delay="10" class="Buton_margin">
            <div class="text-center text-lg-start">
              <div class="row" style="display:flex">

                <div class="col-md-6">
                  <a>
                    <!-- <a href="@Url.Action("RegisterYourSiteForm","Home")" class="btn-get-started"> -->
                    <span>Register Your Site</span>
                    <i class="bi bi-arrow-right"></i>
                  </a>
                </div>
                <div class="col-md-6">
                  <a>
                    <!-- <a href="@Url.Action("GetInvolvedForm","Home")" class="btn-get-started"> -->
                    <span>Get Involved</span>
                    <i class="bi bi-arrow-right"></i>
                  </a>
                </div>
                &nbsp;&nbsp;

              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200" style="align-self: center;">
          <!-- @*<img src="~/assets/img/hero-img.png" class="img-fluid" alt="" />*@ -->
          <!-- @*<img src="~/assets/img/UTCIMAGES/Ctu-Contentimg.png" class="img-fluid" alt="" height="100%" />*@ -->
        </div>
      </div>
    </div>

  </section><!-- End Hero -->
</div>


<!-- ==================allies slider======================= -->
<div class="container Heading_styling">
  <h3>NIH - CTU Allies</h3>
</div>
<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)"
  (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
  <div ngxSlickItem *ngFor="let slide of slides" class="slide">
    <img src="{{ slide.img }}" alt="">
  </div>
</ngx-slick-carousel>