<!-- ==============Image Div============== -->
<div class="Index_1">
    <section class="hero d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-11">
                    <div class="blue_heading">
                        <h1 data-aos="fade-up"></h1>
                        <h2>CTU-NIH will provide a versatile clinical research environment enabling the NIH mission to improve human health by:</h2>
                        <p></p>
                        <!-- <ul>
                            <li>
                                Bringing together diverse stake holders from across the clinical research enterprise and harness their expertise and investments to collaboratively build an open, integrated global research system
                            </li>
                            <li>
                                Integrating information technologies and interoperable standards, policies and practices across the globe
                            </li>
                            <li>
                                Enhancing drug development safety, quality and efficiency worldwide and industry wide to benefit all stake holders especially patients.
                            </li>
                        </ul> -->
                    </div>
                    <div>


                        <div class="All_Buttons">
                            <button type="submit" (click)="registerYourSite()">Register Your Site</button>
                            <button type="submit" (click)="getinvolved()">Get Involved</button>
                        </div>


                        <!-- <div class="row" style="display:flex; text-align: right;">
                            <div class="col-md-6 text-center Main_butn">
                                <a href="https://n8dchycsbzy.typeform.com/to/SgaWNL9P" target="_blank">
                                    <span>Register Your Site</span>
                                </a>

                            </div>
                            <div class="col-md-6 Main_butn text-center">
                                <a href="https://n8dchycsbzy.typeform.com/to/JweGrnr9" target="_blank">
                                    <span>Get Involved</span>
                                </a>
                            </div>
                            &nbsp;&nbsp;

                        </div> -->
                    </div>

                </div>

            </div>
        </div>

    </section>
    <!-- End Hero -->
</div>
<div class="container index_mis">
    <h3>Mission</h3>
</div>









<div class="row m-0">
    <div class="col-lg-4 phone-mt-30 mt-4">
        <div class="app-card mission-card1">
            <p>Bringing together diverse stake holders from across the clinical research enterprise and harness their expertise and investments to collaboratively build an open, integrated global research system</p>

            <svg class="vertical" width="7" height="200" viewBox="0 0 7 277" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.5 277.001L6.38675 272.001H0.613249L3.5 277.001ZM4 272.501L4 -0.000946045H3L3 272.501H4Z"
              fill="#4153f2" />
          </svg>
            <svg class="horizon" width="200" height="6" viewBox="0 0 278 6" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M277.002 3L272.002 0.113249V5.88675L277.002 3ZM272.502 2.5L-9.15527e-05 2.5V3.5L272.502 3.5V2.5Z"
              fill="#4153f2" />
          </svg>
        </div>
    </div>

    <div class="col-lg-4 phone-mt-30 mt-4">
        <div class="app-card mission-card2" style="background-color: #4153f2!important;">
            <p>Integrating information technologies and interoperable standards, policies and practices across the globe</p>

            <svg class="vertical" width="7" height="200" viewBox="0 0 7 277" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.5 277.001L6.38675 272.001H0.613249L3.5 277.001ZM4 272.501L4 -0.000946045H3L3 272.501H4Z"
              fill="white" />
          </svg>
            <svg class="horizon" width="200" height="6" viewBox="0 0 278 6" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M277.002 3L272.002 0.113249V5.88675L277.002 3ZM272.502 2.5L-9.15527e-05 2.5V3.5L272.502 3.5V2.5Z"
              fill="white" />
          </svg>
        </div>
    </div>


    <div class="col-lg-4 phone-mt-30 mt-4">
        <div class="app-card mission-card3">
            <p>Enhancing drug development safety, quality and efficiency worldwide and industry wide to benefit all stake holders especially patients.</p>

            <svg class="vertical" width="7" height="200" viewBox="0 0 7 277" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.5 277.001L6.38675 272.001H0.613249L3.5 277.001ZM4 272.501L4 -0.000946045H3L3 272.501H4Z"
              fill="#4153f2" />
          </svg>
            <svg class="horizon" width="200" height="6" viewBox="0 0 278 6" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M277.002 3L272.002 0.113249V5.88675L277.002 3ZM272.502 2.5L-9.15527e-05 2.5V3.5L272.502 3.5V2.5Z"
              fill="#4153f2" />
          </svg>
        </div>
    </div>
</div>


<!-- ==================allies slider======================= -->
<div class="container index_mis">
    <h3>CTU-NIH Allies</h3>
</div>
<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
        <img src="{{ slide.img }}" alt="logo" width="100%">
    </div>
</ngx-slick-carousel>