<section id="blog" class="blog">
    <div class="container_manual">

        <div class="row" style="--bs-gutter-x: 0px!important;">

            <div class="col-lg-9 entries">

                <article class="entry">
                    <div class="entry-img" style="max-height: 350px;">
                        <img src="assets/Images/Initiatives.JPG" alt="" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        Initiatives
                    </h2>
                </article>
                <div class="Initiatives_page">
                    <h5>NIH FOUNDING AND KEY ROLE IN VACCINE PRODUCTION</h5>
                    <p>
                        NIH is one of the most prestigious institutions of the country involved in multi- disciplinary public health related activities like diagnostic services, research and production of various vaccines for over 40 years. Biological Production Division (BPD)
                        of NIH is performing as the main player in this regard.
                    </p>

                    <h5>NIH Capabilities</h5>
                    <ul>
                        <li>N.I.H (BPD) is capable of conducting clinical research to improve development and delivery of medical therapies as it holds flowing strengths:
                        </li>
                        <li>
                            <div>
                                <img src="assets/Images/NIH_Logo_Iterations.png" class="img-fluid" width="100%" />
                            </div>
                        </li>

                        <li>
                            NIH has the authority to approve documentation from DRAP thereby it can facilitate other collaborative organizations for approvals.
                        </li>
                        <li>
                            NIH already has a data center that will develop website and data analysis system for clinical trials.
                        </li>
                        <li>
                            NIH can avail its extensive collaborative network with AMR, IPC and various other national and international organizations.
                        </li>
                    </ul>
                </div>
                <div class="entry-content">
                    <div class="entry_section_styling">


                    </div>
                </div>
            </div>
            <!-- ==============================side bar================================ -->
            <div class="col-lg-3">

                <div class="sidebar">

                    <div class="side_div_links">
                        <h3 class="sidebar-title">About Us</h3>
                        <div class="sidebar-item categories">
                            <ul>
                                <li>
                                    <div><i class="fa fa-caret-right"></i></div>
                                    <div><a href="Vision-and-Mission">Vision and Mission</a></div>
                                </li>
                                <hr />
                                <li>
                                    <div><i class="fa fa-caret-right"></i></div>
                                    <div><a href="Objective-and-Goals">Objective and Goals</a></div>
                                </li>
                                <hr />
                                <li>
                                    <div><i class="fa fa-caret-right"></i></div>
                                    <div><a href="Our-team">Our Team</a></div>
                                </li>
                                <hr />
                                <li>
                                    <div><i class="fa fa-caret-right"></i></div>
                                    <div><a href="NIH-CTU-Allience">CTU-NIH Alliance</a></div>
                                </li>
                                <hr />
                                <li>
                                    <div><i class="fa fa-caret-right"></i></div>
                                    <div><a href="Initiatives">Initiatives</a></div>
                                </li>
                                <hr />
                                <li>
                                    <div><i class="fa fa-caret-right"></i></div>
                                    <div><a href="Site-Acrediation">Site Accreditation & Standards Initiative (SASI)</a>
                                    </div>
                                </li>
                                <hr />
                            </ul>
                        </div>
                    </div>

                    <!-- @*End sidebar categories*@ -->


                    <div class="bg_yellow">
                        <h3 class="sidebar-title">Why Register Your Research Site?</h3>
                        <p>
                            A rapidly growing number of like-minded organizations, companies and individuals from across the clinical research enterprise and from around the world are working together to build this shared global system, recognizing the power of a shared vision and
                            collaboration.
                        </p>
                        <ul>
                            <li>
                                <div><i class="fa fa-caret-right"></i></div>
                                <div> Help shape the future of the clinical research enterprise</div>
                            </li>

                            <li>
                                <div><i class="fa fa-caret-right"></i></div>
                                <div> Drive innovation, standardization and simplification</div>
                            </li>

                            <li>
                                <div><i class="fa fa-caret-right"></i></div>
                                <div> Drive innovation, standardization and simplification</div>
                            </li>

                            <li>
                                <div><i class="fa fa-caret-right"></i></div>
                                <div> Increase the visibility and accessibility of your products and services globally
                                </div>
                            </li>

                        </ul>
                        <div class="All_Buttons">
                            <button type="submit" (click)="registerYourSite()">Register Your Site</button>
                        </div>


                    </div>

                    <div class="Allies_div">
                        <h3 class="sidebar-title">Current Allies Include:</h3>
                        <ul>
                            <li>
                                <div><i class="fa fa-caret-right"></i></div>
                                <div><a href="GERI">Global Ethical and Regulatory Innovation (GERI)</a></div>
                            </li>
                            <li>
                                <div><i class="fa fa-caret-right"></i></div>
                                <div><a href="PSCI">Product Safety Culture Initiative (PSCI)</a></div>
                            </li>
                            <li>
                                <div><i class="fa fa-caret-right"></i></div>
                                <div><a href="QASI">Quality Assurance and Safety Initiative (QASI)</a></div>
                            </li>
                            <li>
                                <div><i class="fa fa-caret-right"></i></div>
                                <div><a href="Site-Acrediation">Site Accreditation and Standards Initiative (SASI)</a>
                                </div>
                            </li>
                            <li>
                                <div><i class="fa fa-caret-right"></i></div>
                                <div><a href="SOQI">Site Optics and Quality Initiative (SOQI)</a></div>
                            </li>
                            <li>
                                <div><i class="fa fa-caret-right"></i></div>
                                <div><a href="GlobalChange">The Global Challenge</a></div>
                            </li>
                        </ul>
                        <div class="All_Buttons">
                            <button type="submit" (click)="getinvolved()">Get Involved</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>