<main id="main">
    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container_manual">

            <div class="row" style="--bs-gutter-x: 0px!important;">

                <div class="col-lg-9 entries">

                    <article class="entry">

                        <div class="entry-img">
                            <img src="assets/Images/blog-1.jpg" alt="" class="img-fluid">
                        </div>

                        <h2 class="entry-title mt-3">
                            About us
                        </h2>

                        <div class="entry-content">
                            <div class="entry_section_styling">
                                <p>
                                    CTU-NIH is designed to cater the global trends and the local needs of the
                                    organizations and individuals across Pakistan and around the globe. It has opened
                                    doors to the Clinical Trial Unit, it is a state of art facility which offers a full
                                    spectrum of the core and supporting Administrative service to the local researchers
                                    and the global organizations. Clinical Trial Unit is established under BPD, where
                                    the work will be conducted under investigator-initiated trials across a diverse
                                    range of therapeutic areas.
                                </p>

                            </div>
                        </div>

                    </article><!-- End blog entry -->




                </div><!-- End blog entries list -->
                <div class="col-lg-3">

                    <div class="sidebar">

                        <div class="side_div_links">
                            <h3 class="sidebar-title">Stakeholders</h3>
                            <div class="sidebar-item categories">
                                <ul>
                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div>
                                        <div><a routerLink="/CROCMOs">CRO/SMOS</a></div>
                                    </li>
                                    <hr />
                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div>
                                        <div><a href="EthicsCommitte">Ethics Committee</a></div>
                                    </li>
                                    <hr />
                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div>
                                        <div><a href="Government-and-Regulatory-Agencies">Government and Regulatory
                                                Agencies</a></div>
                                    </li>
                                    <hr />
                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div>
                                        <div><a href="investors-including-tax-pyaers">Investors including Taxpayers</a>
                                        </div>
                                    </li>
                                    <hr />
                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div>
                                        <div><a href="peopleand-patients">People and Patients</a></div>
                                    </li>
                                    <hr />
                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div>
                                        <div><a href="research-sites-investigators">Research sites and Investigators</a>
                                        </div>
                                    </li>
                                    <hr />
                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div>
                                        <div><a href="service-providers">Service Providers</a></div>
                                    </li>
                                    <hr />
                                    <li>
                                        <div><i class="fa fa-caret-right"></i></div>
                                        <div><a href="Sponsers">Sponsors</a></div>
                                    </li>
                                    <hr />
                                </ul>
                            </div>
                        </div>

                        <!-- End sidebar categories -->

                        <div class="bg_yellow">
                            <h3 class="sidebar-title">Why Register Your Research Site?</h3>
                            <p>
                                A rapidly growing number of like-minded organizations, companies and individuals from
                                across the clinical research enterprise and from
                                around the world are working together to build this shared global system, recognizing
                                the power of a shared vision and collaboration.
                            </p>
                            <ul>
                                <li>
                                    <div><i class="fa fa-caret-right"></i></div>
                                    <div> Help shape the future of the clinical research enterprise</div>
                                </li>

                                <li>
                                    <div><i class="fa fa-caret-right"></i></div>
                                    <div> Drive innovation, standardization and simplification</div>
                                </li>

                                <li>
                                    <div><i class="fa fa-caret-right"></i></div>
                                    <div> Drive innovation, standardization and simplification</div>
                                </li>

                                <li>
                                    <div><i class="fa fa-caret-right"></i></div>
                                    <div> Increase the visibility and accessibility of your products and services
                                        globally</div>
                                </li>

                            </ul>
                            <div class="buton_Link_Forms text-center">
                                <a href="https://n8dchycsbzy.typeform.com/to/SgaWNL9P" target="_blank">Register Your Site</a>
                            </div>
                        </div>

                        <div class="Allies_div">
                            <h3 class="sidebar-title">Current Allies Include:</h3>
                            <ul>
                                <li>
                                    <div><i class="fa fa-caret-right"></i></div>
                                    <div><a href="#">Global Ethical and Regulatory Innovation (GERI)</a></div>
                                </li>
                                <li>
                                    <div><i class="fa fa-caret-right"></i></div>
                                    <div><a href="#">Product Safety Culture Initiative (PSCI)</a></div>
                                </li>
                                <li>
                                    <div><i class="fa fa-caret-right"></i></div>
                                    <div><a href="#">Quality Assurance and Safety Initiative (QASI)</a></div>
                                </li>
                                <li>
                                    <div><i class="fa fa-caret-right"></i></div>
                                    <div><a href="#">Site Accreditation and Standards Initiative (SASI)</a></div>
                                </li>
                                <li>
                                    <div><i class="fa fa-caret-right"></i></div>
                                    <div><a href="#">Site Optics and Quality Initiative (SOQI)</a></div>
                                </li>
                                <li>
                                    <div><i class="fa fa-caret-right"></i></div>
                                    <div><a href="#">The Global Challenge</a></div>
                                </li>
                            </ul>
                            <div class="buton_Link_Forms text-center">
                                <a href="https://n8dchycsbzy.typeform.com/to/JweGrnr9" target="_blank">Get Involved</a>
                            </div>
                        </div>
                        <!-- End sidebar tags-->
                    </div><!-- End sidebar -->
                </div><!-- End blog sidebar -->

            </div>

        </div>
    </section><!-- End Blog Section -->

</main><!-- End #main -->